[Unit]
Description=Gunicorn service for Flask app
After=network.target

[Service]
User=youruser
Group=www-data
WorkingDirectory=/var/www/html/krep
Environment="PATH=/var/www/html/krep/.venv/bin"
ExecStart=/var/www/html/krep/.venv/bin/gunicorn \
          --workers 2 \
          --threads 2 \
          --bind unix:/var/www/html/krep/krep.sock \
          wsgi:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
