{% extends 'base.html' %}
{% block title %}KRepertory{% endblock %}
{% block main %}
<div class="container-fluid">
    <div class="row mb-4 mx-1">
        <div class="col">
            <div class="card mb-1 shadow-sm">
                <div class="card-header">
                    <p class="h5 text-center">Available Rubrics</p>
                </div>                
                <div class="card-body">
                    <div class="list-group list-group-flush" style="max-height: 50vh; overflow-y: auto;" id="list-available">
                        {% for rub in available %}
                        <a href="{{url_for('addRubric', rub=rub)}}" class="list-group-item list-group-item-action">
                            {{rub}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-1 shadow-sm">
                <div class="card-header">
                    <p class="h5 text-center">Selected Rubrics</p>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush" style="max-height: 50vh; overflow-y: auto;" id="list-available">
                        {% for rub in selected %}
                        <a href="{{url_for('removeRubric', rub=rub)}}" class="list-group-item list-group-item-action">
                            {{rub}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>           
        </div>
    </div>
    {% if meds -%}
    <div class="row mx-0">
        <div class="card shadow-sm pt-2">
            <div class="card-header">
                <p class="h5">Remedies</p>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush" style="max-height: 50vh; overflow-y: auto;" id="list-available">
                    {% for med in meds %}
                    <div class="list-group-item">
                        {{med}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {%- endif %}

</div>
<p class="small text-muted mx-4">{{skey}}</p>
{% endblock %}