{% extends 'base.html' %}
{% block title %}KRepertory{% endblock %}
{% block main %}
<div class="container-fluid px-4">
    <div class="row  mb-4">
        <div class="col">
            <div class="card mb-1 shadow-sm">
                <div class="card-header">
                    <p class="h5 text-center">Available Rubrics</p>
                </div>                
                <div class="card-body">
                    <input id="mysearch" type="search" class="form-control" 
                    onkeyup="myFunction()" placeholder="search here...">
                    <ul id="listavailable" class="list-group list-group-flush" 
                    style="max-height: 50vh; overflow-y: auto;" >
                        {% for rub in available %}
                        <li>
                            <a href="{{url_for('addRubric', rub=rub)}}" 
                            class="list-group-item list-group-item-action">
                                {{rub}}
                            </a>
                        </li>
                        {% endfor %}                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-1 shadow-sm">
                <div class="card-header">
                    <p class="h5 text-center">Selected Rubrics</p>
                </div>
                <div class="card-body">
                    <ul id="listselected" class="list-group list-group-flush" 
                    style="max-height: 50vh; overflow-y: auto;" >
                        {% for rub in selected %}
                        <li>
                            <a href="{{url_for('removeRubric', rub=rub)}}" 
                            class="list-group-item list-group-item-action">
                                {{rub}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>           
        </div>
    </div>
    {% if meds -%}
    <div class="row px-2 mb-4">
        <div class="card shadow-sm pt-2">
            <div class="card-header">
                <p class="h5">Remedies</p>
            </div>
            <div class="card-body">
                <div id="listremedy" class="list-group list-group-flush" 
                style="max-height: 50vh; overflow-y: auto;" >
                    {% for med in meds %}
                    <div class="list-group-item">
                        {{med}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {%- endif %}
</div>
<p class="small text-muted mx-4">Disclaimer: All content and media on this Website is created and published online 
    for informational purposes only. It is not intended to be a substitute for professional medical advice and 
    should not be relied on as health or personal advice.</p>
{% endblock %}
