<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script>
            function myFunction() {
                // Declare variables
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('mysearch');
                filter = input.value.toUpperCase();
                ul = document.getElementById("listavailable");
                li = ul.getElementsByTagName('li');  
              
                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                  a = li[i].getElementsByTagName("a")[0];   //'a' -> <a href=#>XYZ</a>
                  txtValue = a.textContent || a.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                  } else {
                    li[i].style.display = "none";
                  }
                }
              }
        </script>
    </head>

    <body > 
        <div class="d-flex mb-3 align-items-center border-bottom text-light bg-success ">
            <p class="h5 me-auto p-3 pt-4">KRepertory</p>
            <div class="p-3">
                <a class="btn btn-outline-light" href="{{ url_for('krepapp.home') }}">Home</a>
            </div>
            <div class="p-3">
                <a class="btn btn-outline-light" href="{{ url_for('krepapp.reset') }}">Clear</a>
            </div>
        </div>

        {% for category, message in get_flashed_messages(with_categories=true) -%}
        <div class="container text-center">
            {% if category == 'error' %}
            <!-- https://getbootstrap.com/docs/5.0/utilities/spacing/ -->
            <div class="h5 p-3 mb-3 bg-danger text-white">{{ message }}</div>
            {% elif category == 'info' %}
            <div class="h5 p-3 mb-3 bg-primary text-white" >{{ message }}</div>
            {% else %}
            <div class="h5 p-3 mb-3 bg-warning text-dark" >{{ message }}</div>
            {% endif %}
        </div>
        {%- endfor %}

        {% block main %}{% endblock %}
    </body>
</html>